body {
    text-align: center;
}

h1 {
    
font-size: 40px;
font-family: sans-serif;
font-weight: 300;
}

#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

#game {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}
#chatbot {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.line {
    height:6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}